<div style="margin-top:25px;">
    <div >
        <label class="col-md-4 control-label" for="inputNumber">Enter a number</label>
        <div class="col-md-4">
            <input id="inputNumber" type="text" placeholder="Enter a Number" class="form-control input-md" required="" type="number">
            <span class="help-block">Enter a number:</span>
        </div>


    </div>

    <!-- Button -->
    <div>
        <label class="col-md-4 control-label" for="buttonGenerator"></label>
        <div class="col-md-4" style="float:left; margin-top:5px;">
            <button id="buttonGenerator" class="btn btn-primary">Generate</button>
            <button id="clearResults" onclick="javascript:clearResult();" class="btn btn-primary">Clear</button>
        </div>
    </div>
    <div>
        <div class="col-md-12" id="outputSection" style="text-align:left; float:left;"></div>
    </div>
</div>